---
import { Image } from 'astro:assets';
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

import logo from "~/assets/exanta_logo_about.svg";
---

<ContentSection title="" id="about-exanta">
  <Fragment slot="lead">
    Driven by data, defined by innovation
  </Fragment>
  <div class="grid grid-cols-1 md:grid-cols-6 max-w-4xl gap-4">
    <div class="md:col-span-2 align-middle my-auto mx-auto">
      <Image slot="eyebrow" src={logo} alt="exanta logo" class="h-40 md:h-64" />
    </div>
    <div class="md:col-span-4">
      <h2 class="font-extrabold text-2xl">How it all started</h2>
      <p class="text-offset text-sm pt-2">exanta P.C. team’s journey from the academic <a href="https://datalab.csd.auth.gr/" target="_blank">
      Datalab, AUTH</a> environment to its entrepreneurship endeavor, has been governed by the Albert Einstein's quote:
       "Creativity is Intelligence Having Fun"!</p>
      <p class="text-offset text-sm pt-2">We are committed researchers, developers, and innovators who have worked together for years in 
       academia and who always have enjoyed creative and out of the box applied research to employ actionable human-centric solutions!</p>
      <p class="text-offset text-sm pt-2">exanta P.C. enthusiasm and commitment for responsible Data Science and AI in practise guarantees 
       its upcoming vibrant, brilliant, and outstanding solutions!</p>
    </div>
  </div>
  <div class="grid grid-cols-1 max-w-4xl gap-4">
    <h2 class="font-extrabold text-2xl text-center">What we do</h2>
    <p class="text-offset text-sm pt-2">exanta P.C. releases new cutting edge solutions to address the critical emerging and challenging
    societal - economical -personal issues caused by the overbundance, mistrust and the speed of data to AI practises.</p>
    <ul class="text-offset text-sm px-6">
      <li class="px-2">
      <Icon class="h-6 inline align-center fill-slate-400 hover:fill-blue-400 focus:fill-blue-400" name="fe:arrow-right" />
      <em>Humans are lost in data floods since even experts are incapable to identify
      the genuine and qualitative information information, which will extract useful knowledge.</em></li>
      <li class="px-2 pt-2">
      <Icon class="h-6 inline align-center fill-slate-400 hover:fill-blue-400 focus:fill-blue-400" name="fe:arrow-right" />
      <em>Platforms and authorities are helpless in dealing with unexpected and unprecedented phenomena
      of data-driven fraud and malicious use in economy, entrepreneurship, society, education, health, etc.</em></li>
    </ul>
    <p class="text-offset text-sm pt-2">exanta P.C. navigates into the seas of data with a range of pioneering solutions grounded in 
    human-centric principles:</p>
    <ul class="text-offset text-sm px-6">
      <li class="px-2">
      <Icon class="h-6 inline align-center fill-slate-400 hover:fill-blue-400 focus:fill-blue-400" name="fe:arrow-right" />
      <em>use of cutting edge eXplainable Artificial Intelligence and Data Science technologies to enlight and reveal data 
      to knowledge pipelines;</em></li>
      <li class="px-2 pt-2">
      <Icon class="h-6 inline align-center fill-slate-400 hover:fill-blue-400 focus:fill-blue-400" name="fe:arrow-right" />
      <em>advance state of the art in ML and data science by Human in the Loop methodologies to safeguard trust in data
       and to ensure that such emerging technologies are not a black-box for humans;</em></li>
      <li class="px-2 pt-2">
      <Icon class="h-6 inline align-center fill-slate-400 hover:fill-blue-400 focus:fill-blue-400" name="fe:arrow-right" />
      <em>support an end to end data to insights journey with solutions which embed fairness by design, data debiasing, 
      data to ML literacy modules, data to decisions visualizations.</em></li>
    </ul>
    <p class="text-offset text-sm pt-2">Are you looking for trusted and vibrant data to AI solutions? Exanta P.C. promises to become your guardian
    and partner in your data to insights journey!</p>
  </div>
</ContentSection>
