---
import { Image } from 'astro:assets';
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import { fade } from 'astro:transitions';

import logo from "~/assets/exanta_logo_about.svg";
---

<ContentSection title="" id="about-exanta">
  <Fragment slot="lead">
    Driven by data, defined by innovation
  </Fragment>
  <div class="grid grid-cols-1 md:grid-cols-6 max-w-4xl gap-4">
    <div class="md:col-span-2 align-middle my-auto mx-auto">
      <Image transition:animate={fade({ duration: '1.4s' })} slot="eyebrow" src={logo} alt="exanta logo" class="h-40 md:h-64" />
    </div>
    <div class="md:col-span-4">
      <!-- <h2 class="font-extrabold text-2xl">Welcome to exanta</h2> -->
      <p class="text-offset text-sm py-2">exanta is founded by a dynamic team of data scientists, developers & innovators
       with many years of experience in academia and industry, who enjoy creating innovative solutions for challenging problems.</p>
      <p class="text-offset text-sm py-2">Motivated by Albert Einstein's mantra “Creativity is Intelligence Having Fun”, we 
      launched exanta as a spin-off of the <a href="https://www.auth.gr/en/" target="_blank">Aristotle University of Thessaloniki</a>. Our mission is to bring cutting-edge research
       in data analytics and AI to the market.</p>
      <p class="text-offset text-sm py-2">As researchers, we bring a wealth of scientific knowledge, commitment to rigorous 
      methodologies, and a deep understanding of technology. As entrepreneurs and innovators, we address real-world business 
      demands, and deliver practical and high-performance solutions.</p>
    </div>
  </div>
</ContentSection>
