---
import { Icon } from "astro-icon";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="flex scroll-mt-24 flex-col gap-4 space-y-8">
  <div class="flex flex-col items-center gap-4">
    <h1 class="gradient-text text-center font-extrabold tracking-tight text-6xl">
      <!-- {title} -->
    </h1>
  </div>
  <div class="self-center max-w-4xl blog-section">
  <p class="text-start font-extrabold text-2xl pb-4 text-blue-400">
    <slot name="lead" />
  </p>
    <slot />
    <a href="/blog"><span class="hover:text-blue-500 text-blue-400 text-sm"><Icon class="h-6 inline pe-2" name="ic:twotone-keyboard-return" /> Back to blog section</span></a>
  </div>
</section>