---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section
  class="flex scroll-mt-24 flex-col gap-4 space-y-8"
>
  <div class="flex flex-col items-center gap-4">
    <h2
      class="gradient-text text-center font-extrabold tracking-tight text-6xl"
    >
      {title}
    </h2>
  </div>
  <div class="max-w-xl grid grid-cols-1 mx-24">
  <p class="max-w-3xl text-center font-extrabold text-2xl">
    <slot />
  </p>
  </div>
</section>
