---
import ContentSection from "~/components/content-section.astro";
import FeaturedNewsCard from "~/components/featured-card.astro";
const featuredPosts = await Astro.glob("../pages/news/*.md");
---

<ContentSection title="Featured News" id="featured-news">
  <Fragment slot="lead">
    Check out exanta's recent news
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      {featuredPosts.slice(0,3).map((item) => <FeaturedNewsCard site={item} />)}
    </div>
  </div>
</ContentSection>
