
<div id="herobg" class="absolute inset-0">
</div>

<style>
  #herobg {
    background-image: url("../assets/hero_black_sea3.gif");
    /* background-image: url("http://localhost:3000/hero_waves.gif"); */
    /* background-image: url("../assets/dramatic-black-white-sea-landscape.jpg"); */
    height: 100vh;
    background-size: cover;
  }
</style>
