---
import { Icon } from "astro-icon";
const { items } = Astro.props;
---

<div class="w-full max-w-6xl space-y-2">
  <div class="relative border border-default bg-slate-800 px-4 pb-4 pt-8">
    <ul class="grid grid-cols-1 gap-8 sm:grid-cols-4">
      {
        items.map((item:any) => (
          <li>
            <a class="flex flex-col items-center gap-2" href={item.url} target="_blank">
              <Icon class="h-12 fill-slate-400 hover:fill-blue-400 focus:fill-blue-400" name={item.icon} />
              <span class="text-slate-400 text-sm">{item.title}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <!-- <p class="text-right text-sm">
    <a class="text-primary" href={url}> ...and more &rarr;</a>
  </p> -->
</div>
