---
import PartnersList from "~/components/partners-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { PartnerItem } from "~/types";

const partners: Array<PartnerItem> = [
  {
    title: "HEDNO",
    icon: "HEDNO-logo",
    url: "https://deddie.gr/en/",
  },
  {
    title: "Alumil",
    icon: "alumil-logo",
    url: "https://www.alumil.com/greece/homeowners",
  },
  {
    title: "Aristotle Uni. of Thessaloniki",
    icon: "AUTH-logo",
    url: "https://www.auth.gr/en/",
  },
  {
    title: "Datalab",
    icon: "datalab-logo",
    url: "https://datalab.csd.auth.gr/",
  },
  {
    title: "iMedD",
    icon: "IMEDD-logo",
    url: "https://www.imedd.org/",
  }
];

---

<ContentSection title="Partners" id="partners">
  <Fragment slot="lead">
    We're proud to stand alongside our valued partners to
    collectively <span class="text-primary">unlock the power of data</span> and drive <span class="text-primary">innovation</span>!
  </Fragment>
  <PartnersList
    items={partners}
  />
</ContentSection>
