---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const services: Array<FeatureItem> = [
  {
    title: "AI pipelines for anomaly detection",
    description:
      "Detect phenomena (such as power-thefts) using data analysis & AI models",
    icon: "carbon:machine-learning-model",
  },
  {
    title: "Trustworthy & Responsible data analytics and AI",
    description:
      "Design, support & reporting for bias-free data analytics & AI solutions",
    icon: "eos-icons:ai",
  },
  {
    title: "AI with human-in-the-loop",
    description:
      "Embed human control, supervision, and feedback in data to AI pipelines",
    icon: "mdi:human",
  },
  {
    title: "Social media crowdsourcing tools",
    description:
      "Employ advanced ML models & explainable AI for social media content analysis and bots generated content detection",
    icon: "ion:share-social",
  },
  {
    title: "Data visualizations",
    description:
      "Provide meaningful insights and communicating data visually by using efficient and crisp visualizations",
    icon: "fe:line-chart",
  },
  {
    title: "... Need more?",
    description:
      "Get in touch with us, to identify your data analysis needs and design together a solution that best fits your goals",
    icon: "ph:handshake-fill",
  },
];
---

<ContentSection title="Services" id="services">
  <Fragment slot="lead">
    Explore our services & tools powered by
    <span class="text-primary">eXplainable AI</span> & <span class="text-primary">Data Science</span> technologies,
     illuminating the path from <span class="text-primary">raw data</span> to <span class="text-primary">valuable insights</span>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      services.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-slate-800 p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3 text-teal-400">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
  <div class="grid grid-cols-1">
    <a
      href="/tools"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="fa-solid:tools" class="h-8" />
      <span>Meet our Tools</span>
    </a>
  </div>
</ContentSection>
