---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const services: Array<FeatureItem> = [
  {
    title: "ML-pipelines for anomaly detection",
    description:
      "Detecting power-thefts using data analysis & AI models",
    icon: "carbon:machine-learning-model",
  },
  {
    title: "Trustworthy & Responsible AI",
    description:
      "Detecting and dealing with biases in data analysis & AI systems (e.g. on network measurements)",
    icon: "eos-icons:ai",
  },
  {
    title: "Political speech analysis",
    description:
      "Political speech analysis using AI models and human-in-the-loop, combined with insightful visualizations",
    icon: "uil:podium",
  },
  {
    title: "Social media crowdsourcing tools",
    description:
      "Social media content analysis and bot generated content detection using ML models & explainable AI",
    icon: "ion:share-social",
  },
  {
    title: "Data visualizations",
    description:
      "Providing meaningful insights and communicating data visually by using efficient and crisp visualizations",
    icon: "fe:line-chart",
  },
  {
    title: "... Need more?",
    description:
      "Get in touch with us, in order to identify your problem and design together a solution that best fits your needs.",
    icon: "ph:handshake-fill",
  },
];
---

<ContentSection title="Services" id="services">
  <Fragment slot="lead">
    Explore our services & applications powered by
    <span class="text-primary">eXplainable AI</span> & <span class="text-primary">Data Science technologies</span>,
     illuminating the path from <span class="text-primary">raw data</span> to <span class="text-primary">invaluable knowledge</span>
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      services.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-slate-800 p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3 text-teal-400">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
